.cssGrid {
  display:grid;
  width:100%;
  margin:0px;
  padding:0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "header header"
  "nav nav";
}

.header {
  grid-template-area: header;
  grid-column-end: span 2;
  background-color: #4C444C;
}

/* #headerLogo {
  display:inline-block;
  margin-left:45px;
  padding-top:10px;
} */

.nav {
  grid-template-area: nav;
  grid-column-end: span 2;
  background-color: #4C444C;
  height:83px;
  text-align:center;
  word-spacing: 52px;
  padding-top: 18px;
}

.nav a {
  text-decoration: none;
  color:white;
  font-size:50px;
}

.nav a:hover {
  color:#eae0c2;
}

.nav a:active {
  color:#eae0c2;
}

/* .nav a:visited {
  color:red;
} */


/*//////////////////////////////////////////////////////////////////////////*/








/*////////////////////////////////////////////////////////////////////////////*/
