.cssGrid {
  display:grid;
  width:100%;
  margin:0px;
  padding:0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "header header"
  "nav nav"
  "headerContentText headerContentImage"
  "aboutMe aboutMe";
}

.header {
  grid-template-area: header;
  grid-column-end: span 2;
  background-color: #4C444C;
}

/* #headerLogo {
  display:inline-block;
  margin-left:45px;
  padding-top:10px;
} */

.nav {
  grid-template-area: nav;
  grid-column-end: span 2;
  background-color: #4C444C;
  height:83px;
  text-align:center;
  word-spacing: 52px;
  padding-top: 18px;
}

.nav a {
  text-decoration: none;
  color:white;
  font-size:50px;
}

.nav a:hover {
  color:#eae0c2;
}

.nav a:active {
  color:#eae0c2;
}


h3 {
    font-family: 'Roboto Slab', serif, Muli;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
    margin-bottom:13px;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 19px;
    font-style: normal;
    font-variant: normal;
    font-weight: 567;
    line-height: 20px;
    word-spacing:4.4px;

}


/*////////////header box text///////////////////////////////////////////////*/


.headerContentText {
    grid-template-area: headerContentText;
    height:auto;
    width:auto;
    margin:20px;
    margin-top:20px;
    margin-bottom:0px;
    margin-right:0px;
    padding-bottom:0px;
}



#headercontenttextpadd h2 {
    margin-bottom:55px;
    padding-left:27px;
}

.mybutton {
box-shadow: 3px 3px 0px 0px #1c1b18;
background:linear-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
background-color:#eae0c2;
border-radius:15px;
border:2px solid #333029;
display:inline-block;
cursor:pointer;
color:#505739;
font-family:Arial;
font-size:14px;
font-weight:bold;
font-style:italic;
padding:9px 27px;
margin-left:108px;
}
.mybutton:hover {
background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);S
background-color:#ccc2a6;
}
.mybutton:active {
position:relative;
top:1px;
}


#mybuttonpadd {
}




/* #headerimagepadd {
    padding-top:40px;
} */

.box{
    font-family: Arial;
    height: 463px;
    width:660px;
    background-image: linear-gradient(to right, /*#e6e6e6*/#e3e3e3, #e3e3e3, #e3e3e3, #e3e3e3, #e3e3e3, white, white);
    color:black;
    /* text-align: center; */
    font-size: 40px;
    padding: 20px;
    margin: 20px;
    margin-right:0px;
    margin-left:-4.8px;
}

.round {
    border-radius: 10px;
}

/* .nav a:visited {
  color:red;
} */

.headerContentImage {
  height:463px;
  margin-top:50px;
  margin-left:-335px;
}

.aboutMe {
    grid-template-area: aboutMe;
    grid-column-end: span 2;
    margin-top:145px;
}

.aboutMeHeadText {
    text-align: center;
    line-height: 5px;
    padding-top: 1px;
    margin-top:60px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size:40px;
}



.animateline {
  display:inline-block;
  height:16px;
  width:10px;
  margin-left:59.5%;
  margin-top:0%;
  padding-top:0%;
  /* margin-left:100px; */
  border-bottom:1px solid #000;
  animation: increase 28s;
  animation-fill-mode: both;
}

@keyframes increase {
    100% {
        width: 175px;
    }
}

.aboutMeMainText {
  width:850px;
  margin-left:68.5px;
  margin-bottom:370px;
}

.aboutMeMainText p {
  /* font-family: sans-serif; */
  text-align: center;
  line-height: 1.4;
  font-size: 33px;
  font-weight:600;
}



/*//////////////////////////////////////////////////////////////////////////*/








/*////////////////////////////////////////////////////////////////////////////*/
